<!doctype HTML>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='lightmode.css') }}">
</head>
<title> Leaguerboard </title>
<section>
    <h1>Welcome to Leaguerboard</h1>
    <p>Leaguerboard is a site to view a multitude of League stats based on an individual, a team of players, 
       or champions. Filters can be added to queries for more interesting results </p>
    <h2> Links </h2>
    <nav>
        <ul>
            <li><a href={{ url_for('summoner.summoner') }}>Summoner Stats</a></li>
            <li><a href={{ url_for('team.team') }}>Team Stats</a></li>
            <li><a href={{ url_for('champions.champions') }}>Champion Stats</a></li>
        </ul>
    </nav>
</section>
