{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Champions{% endblock %}</h1>
{% endblock %}

{% block content %} 
    <div class="container">

        {% for champ in champions %}

        {% if loop.index % 6 == 1 %}
        <div class="row" style="margin-bottom:30px">
        {% endif %}
        
            <div class="col-lg-2 text-center">
                <a href="{{ url_for('champions.champion', champ=champ['id']) }}">
                    <img class="img-responsive" src="{{ url_for('static', filename='img/champion/' + champ['image']['full']) }}" />
                </a>
            </div>

        {% if loop.index % 6 == 0 %}
        </div>
        {% endif %}

    {% endfor %}
    </div>
{% endblock %}
        
