{% extends 'base.html' %}

{% block style %}
    .champ_icon {
        position: relative;
        height: 120px;
        width: 120px;
    }

    .champ_text {
        position: absolute;
        text-align: center;
        color: #FFFFFF;
        width: 100%;
        bottom: 0px;
        background-color: #333
    }

    ul.champ_list {
        column-rule: dotted 1px #333;
        display: inline-block;
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        z-index: 0;
    }

    li {
        list-style-type: none;
    }
{% endblock %}

{% block header %}
    <h1>{% block title %}Champions{% endblock %}</h1>
{% endblock %}

{% block content %} 
    {% for champ in champions %}
        <ul class="champ_list">
            <li>
                <a href="{{ url_for('champions.champion', champ=champ['id']) }}">
                    <div class="champ_icon" style="background-image: url({{ url_for('static', filename='img/champion/'+champ['image']['full']) }})">
                        <div class="champ_text">
                            {{ champ['name'] }}
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    {% endfor %}
{% endblock %}
