{% extends 'base.html' %}

{% block title %}{{ champ['name'] }}{% endblock %}

{% block content %}
<div class="container">
    <div class="lore">
        <h1>{{ champ['name'] }}</h1>
        <!--<p>{{ role_count }}</p>-->
        <!--<p>{{ lane_count }}</p>-->
        <img src="{{ url_for('static', filename='img/champion/'+champ['image']['full']) }}"/>
        <h3>{{ champ['title'] }} </h3>
        <p> {{ champ['lore'] }} </p>
    </div>
    <div class="map_info">
        <img src="{{ url_for('static', filename='img/map/map11.png') }}" style="max-width=50%"/>
        {% for lane in lane_count.keys() %}
            <div class={{ lane }}>{{ "%.0f%%" % (100.0*lane_count[lane]/lane_count.values()|sum()) }}</div>
        {% endfor %}
    </div>

    <p> Total games played: {{ game_count }} </p>
    <p> Total games won:{{ win_count }} </p>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col"> Summoner </th>
                <th scope="col"> Lifetime K/D/A </th>
                <th scope="col"> Games Played </th>
                <th scope="col"> Games Won </th>
                <th scope="col"> Win % </th>
            </tr>
        </thead>
        <tbody>
            {% for stat_line in player_stats %}
            <tr>
                <td ><a href="{{ url_for('summoner.summoner_stats', summoner=stat_line[0]) }}">{{ stat_line[0] }}</a></td>
                <td>{{ stat_line[1]['kills'] }}/{{ stat_line[1]['deaths'] }}/{{ stat_line[1]['assists'] }}
                <td>{{ stat_line[1]['game_count'] }}</td>
                <td>{{ stat_line[1]['win_count'] }}</td>
                {% if stat_line[1]['game_count'] == 0 %}
                <td>-</td>
                {% else %}
                <td>{{"%.2f%%" % (100.0 * stat_line[1]['win_count']/stat_line[1]['game_count']) }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <br>

    <script>
        $(document).ready(function() {
            $('#history').DataTable();
            $('.dataTables_length').addClass('bs-select');
        } );
    </script>

    <table id='match-history' class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Result</th>
                <th scope="col">Summoner</th>
                <th scope="col">K/D/A</th>
                <th scope="col">Role</th>
                <th scope="col">Lane</th>
                <th scope="col">Queue</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
        {% for match in match_history %}
            <tr>
                <th scope="row">
                    {% if match.MatchStat.win %}
                        Victory
                    {% else %}
                        Defeat
                    {% endif %}
                </th>
                <td><a href={{ url_for('summoner.summoner_stats', summoner=match.name) }}>{{ match.name }}</a></td>
                <td>{{ match.MatchStat.kills }}/{{ match.MatchStat.deaths }}/{{ match.MatchStat.assists }} </td>
                <td>{{ match.MatchStat.role|readable }}</td>
                <td>{{ match.MatchStat.lane|readable }}</td>
                <td>{{ match.queue|queue }}</td>
                <td><script>
                        var milisecs = {{ match.timestamp }} 
                        var local_time = new Date(milisecs)
                        document.write(local_time.toLocaleString())
                    </script>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function() {
            $('#match-history').DataTable( {
                "order": [[6, "desc"]]
            } );
        } );
    </script>
{% endblock %}





