{% extends 'base.html' %}

{% block style %}
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th, td {
        padding: 15px;
    }
{% endblock %}

{% block content %}
<div class=container>
    <div class="row">
        <div class="col-lg text-center">
            <h1>{% block title %}{{ summoner }}'s Stats{% endblock %}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 text-center">
            <h2> Favorite Champion </h2>
            <p> Champion with the highest number of games played </p>
            <div class="col-lg-6">
                <img class="img-responsive" src="{{ url_for('static', filename='splash/'+champ_names[favorite_champ['key']|string]+'_0.jpg') }}"/>
            </div>
            <div class="col-lg-6 text-left">
                <ul>
                    <li> Games Played: {{ favorite_champ['games'] }}
                    <li> Percentage of games played as this champ {{ "%.2f%%" % (100.0 * favorite_champ['games']/game_count) }}</li>
                    <li> Win Percentage: {{ "%.2f%%" % (100.0 * favorite_champ['wins']/favorite_champ['games']) }}</li>
                    <li> Most Common Lane: {{ favorite_lane['lane']|readable }} </li>
                    <li> Most Common Role: {{ favorite_role['role']|readable }} </li>
                    <li> Most Common Items: {{ favorite_items }} </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-6 text-center">
            <h2> Best Champion </h2>
            <p> Champion with the best winrate </p>

            <div class="col-lg-6 text-left">
                <ul>
                    <li> Games Played: {{ best_champ['games'] }} </li>
                    <li> Percentage of games played as this champ: {{ "%.2f%%" % (100.0 * best_champ['games']/game_count) }}</li> 
                    <li> Win Percentage: {{ "%.2f%%" % (100.0 * best_champ['wins']/best_champ['games']) }} </li>
                    <li> Most Common Lane: {{ best_lane['lane']|readable }}  </li>
                    <li> Most Common Role: {{ best_role['role']|readable }}</li>
                    <li> Most Common Items: {{ best_items }}</li>
                </ul>
            </div>
            <div class="col-lg-6">
                <img class="img-responsive" src="{{ url_for('static', filename='splash/'+champ_names[best_champ['key']|string]+'_0.jpg') }}"/>
            </div>
        </div>
    </div>

    <br>

    <div class="row text-center">
        <table class="table table-bordered">
            <tr>
                <th scope="col">Played</th>
                <th scope="col">Won</th>
                <th scope="col">Win %</th>
            </tr>
            <tr>
                <td>{{ game_count }}</td>
                <td>{{ win_count }}</td>
                <td>{{ "%.2f%%" % (100.0 * win_count/game_count) }}</td>
            </tr>
        </table>
    </div>

    <br>

    <div class="row text-center">
        <table id='match-history' class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                <th scope="col">Result</th>
                <th scope="col">Champion</th>
                <th scope="col">K/D/A</th>
                <th scope="col">Role</th>
                <th scope="col">Lane</th>
                <th scope="col">Queue</th>
                <th scope="col">Time</th>
            </tr>
           </thead>
            {% for match in matches %}
                <tr>
                    {% if match.MatchStat.win %}
                        <td>Victory</td>
                    {% else %}
                        <td>Defeat</td>
                    {% endif %}

                    <td><a href="{{ url_for('champions.champion', champ=champ_names[match.MatchStat.champ|string]) }}">{{ champ_full[champ_names[match.MatchStat.champ|string]]['name'] }}</a></td>
                    <td>{{ match.MatchStat.kills }}/{{ match.MatchStat.deaths }}/{{ match.MatchStat.assists }}</td>
                    <td>{{ match.MatchStat.role|readable }}</td>
                    <td>{{ match.MatchStat.lane|readable }}</td>
                    <td>{{ match.Match.queue|queue }}</td>
                    <td><script>
                            var milisecs = {{ match.Match.timestamp }}
                            var local_time = new Date(milisecs)
                            document.write(local_time.toLocaleString())
                        </script>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function() {
            $('#match-history').DataTable( {
                "order": [[6, "desc"]]
            } );
        } );
    </script>
{% endblock %}
