{% extends 'base.html' %}

{% block style %}
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th, td {
        padding: 15px;
    }
{% endblock %}

{% block header %}
    <h1>{% block title %}{{ summoner }}'s Stats{% endblock %}</h1>
{% endblock %}

{% block content %}
<p>Win Percentage: {{ "%.2f%%" % (100.0 * win_count/game_count) }}</p>
<p>Games Won: {{ win_count }}</p>
<p>Games Played: {{ game_count }} </p>

<table>
    <tr>
        <th>Played</th>
        <th>Won</th>
        <th>Win %</th>
    </tr>
    <tr>
        <td>{{ game_count }}</td>
        <td>{{ win_count }}</td>
        <td>{{ "%.2f%%" % (100.0 * win_count/game_count) }}</td>
    </tr>
</table>
<br>
<table>
    <tr>
        <th>Result</th>
        <th>Champion</th>
        <th>K/D/A</th>
        <th>Role</th>
        <th>Lane</th>
        <th>Queue</th>
        <th>Time</th>
    </tr>
    {% for match in matches %}
        <tr>
            {% if match.win %}
                <td>Victory</td>
            {% else %}
                <td>Defeat</td>
            {% endif %}

            <td><a href="{{ url_for('champions.champion', champ=champ_names[match.champ|string]) }}">{{ champ_names[match.champ|string] }}</a></td>
            <td>{{ match.kills }}/{{ match.deaths }}/{{ match.assists }}</td>
            <td>{{ match.role }}</td>
            <td>{{ match.lane }}</td>
            <td>__queue</td>
            <!---<td><script>
                    var milisecs = {{ match[8] }}
                    var local_time = new Date(milisecs)
                    document.write(local_time.toLocaleString())
                </script>
            </td>---> 
            <td>__time</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
