{% extends 'bootstrap/base.html' %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapse" data-toggle="collapse" datatarget="#bs-example-navbar-collapse-1" aria-expanded="false">
                </button>
                <a class="navbar-brand" href={{ url_for('home') }}>Leaguerboard</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href={{ url_for('summoner.summoner') }}>Player Stats</a></li>
                    <li><a href={{ url_for('champions.champions') }}>Champ Stats</a></li>
                    <li><a href={{ url_for('team.team') }}>Team Stats</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% block content %}{% endblock %}
</section>
