{% extends 'bootstrap/base.html' %}

{% block head %}
    {{super()}}
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></script>
    <script src="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap.min.css"></script>
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapse" data-toggle="collapse" datatarget="#bs-example-navbar-collapse-1" aria-expanded="false">
                </button>
                <a class="navbar-brand" href={{ url_for('home') }}>Leaguerboard</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href={{ url_for('summoner.summoner') }}>Player Stats</a></li>
                    <li><a href={{ url_for('champions.champions') }}>Champ Stats</a></li>
                    <li><a href={{ url_for('team.team') }}>Team Stats</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

<section class="content">
    <header>
        
        {% block header %}{% endblock %}
    </header>
    <div class="container">
        <!-- yekka yee -->
        {% block content %}{% endblock %}
    </div>
</section>
