{% extends 'base.html' %}

{% block title %}{Team Selection}{% endblock %} 

{% block content %}   
   <h1>Team Selection</h1> 
   <p>Select a group of summoners for team's stats</p>
    
    <form method="post">
        {% for summoner in summoners %}
        <input type="checkbox" id="summoner{{ loop.index }}" name="summoner" value={{ summoner.account_id }}>
        <label for="summoner{{ loop.index }}"> {{ summoner.name }}</label><br>
        {% endfor %}
        <br>
        <input type="submit" value="Submit">
    </form>

{% endblock %}
