{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Team Stats{% endblock %}</h1>
{% endblock %}

{% block content %}
{% if game_count == 0 %}
    <p>No games found with this team comp</p>
    <p><a href={{ url_for('team.team') }}>Team Selector</a></p>
{% else %}
    <p>Win percentage {{ "%.2f%%" % (100.0 * win_count/game_count) }}</p>
    <p>Games won: {{ win_count }}</p>
    <p>Games Played: {{ game_count }}</p>
    <br>
    <ul>
        {% for teammate in team_selection %}
        <li><a href ="{{ url_for('summoner.summoner_stats', summoner=teammate) }}">{{ teammate }}</a></li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}
